---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<div class="mb-8 flex flex-col items-center justify-center" {...storyblokEditable(blok)}>
	<h4 class="pb-2 text-center text-xl font-medium text-primary-dark dark:text-primary-light">{blok.title}</h4>
	{
		blok.content?.map((blok) => {
			return <StoryblokComponent blok={blok} />;
		})
	}
</div>
