<div class="flex -translate-x-6 items-center justify-start tablet:-translate-x-0 tablet:justify-center">
	<span class="w-9 border-2 border-primary-dark bg-primary-dark object-center dark:border-primary dark:bg-primary"></span>
</div>
