---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<header {...storyblokEditable(blok)}>
    {
        blok.header?.map((header) => {
            return <StoryblokComponent blok={header} />;
        })
    }
</header>

<main {...storyblokEditable(blok)}>
    {
        blok.main?.map((main) => {
            return <StoryblokComponent blok={main} />;
        })
    }
</main>

<footer class="relative" {...storyblokEditable(blok)}>
    {
        blok.footer?.map((footer) => {
            return <StoryblokComponent blok={footer} />;
        })
    }
</footer>
