---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<div class="flex h-min w-screen items-center justify-evenly laptop:max-w-3xl desktop:max-w-5xl ultrawide:max-w-7xl" {...storyblokEditable(blok)}>
    {
        blok.services?.map((blok) => {
            return <StoryblokComponent blok={blok} />;
        })
    }
</div>
