---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<div class="z-10 flex h-fit w-10/12 flex-col rounded-xl border bg-white shadow-md dark:border-gray-800 dark:bg-gray-800 dark:text-gray-100 tablet:w-2/3 tablet:flex-row laptop:w-3/5" {...storyblokEditable(blok)}>
	{
		blok.columns?.map((blok, index) => {
			return <StoryblokComponent blok={blok} isLastColumn={index > 0} />;
		})
	}
</div>
<div class="absolute bottom-0 h-2/3 w-screen bg-white dark:bg-gray-900"></div>
