---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Presentation from "../components/Presentation.astro";
import Skills from "../components/Skills.astro";
import Career from "../components/Career.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import "../assets/styles/base.css";

changeLanguage("fr");
---

<Layout title="Alexis De Chiara">
	<header>
		<Navigation />
	</header>

	<main class="overflow-x-hidden">
		<Presentation />
		<Skills />
		<Career />
		<Projects />
	</main>
	
	<footer>
		<Contact />
	</footer>
</Layout>
