---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Presentation from "../components/Presentation.astro";
import Skills from "../components/Skills.astro";
import Career from "../components/Career.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Alexis De Chiara">
	<main class="overflow-x-hidden">
		<Navigation/>
		<Presentation />
		<Skills />
		<Career />
		<Projects />
		<Contact />
	</main>
</Layout>
