---
import Block from "../components/Timeline/Block.astro";
import EmptyLine from "../components/Timeline/EmptyLine.astro";
import { t } from "i18next";
---

<section class="flex justify-center items-center pt-24 mt-24 flex-col" id="career">
	<div class="mb-24">
		<h3 class="text-center font-bold text-4xl pb-2 dark:text-gray-100">{t("career.title")}</h3>
		<span class="font-medium text-xl dark:text-gray-100">{t("career.subtitle")}</span>
	</div>
	<div class="flex flex-col relative w-full px-24 space-y-16">
		<span class="bg-primary-dark dark:bg-primary w-2 h-full mb-16 absolute left-1/2 -translate-x-1"></span>
		<EmptyLine />

		<div class="flex items-center h-[300px]">
			<div class="w-1/2">
				<Block
					title={t("career.2019.title")}
					location={t("career.2019.location")}
					description={t("career.2019.description")}
					website="https://www.lyc-albert-calmette.ac-nice.fr/"
					map="https://goo.gl/maps/3WiJWewYvVLdTL866"
				/>
			</div>
			<span class="border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full -translate-x-4 mr-8"></span>
			<span class="text-4xl font-bold text-primary-dark dark:text-primary"> 2019 </span>
		</div>

		<EmptyLine />

		<div class="flex items-center justify-end h-[300px]">
			<span class="text-4xl font-bold text-primary-dark dark:text-primary"> 2021 </span>
			<span class="border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full translate-x-12 mr-8"></span>
			<div class="w-1/2 justify-end flex">
				<Block
					title={t("career.2021.title")}
					location={t("career.2021.location")}
					description={t("career.2021.description")}
					website="https://iut.univ-cotedazur.fr/"
					map="https://goo.gl/maps/EwWEVBcQAvNXJzjYA"
				/>
			</div>
		</div>

		<div class="flex items-center h-[300px]">
			<div class="w-1/2">
				<Block
					title={t("career.2022.title")}
					location={t("career.2022.location")}
					description={t("career.2022.description")}
					website="https://iut-montpellier-sete.edu.umontpellier.fr/"
					map="https://goo.gl/maps/Up5a7iSAJXj4He9NA"
				/>
			</div>
			<span class="border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full -translate-x-4 mr-8"></span>
			<span class="text-4xl font-bold text-primary-dark dark:text-primary"> 2022 </span>
		</div>
	</div>
	<div class="relative h-32 w-4">
		<span class="border-r-8 border-dashed border-primary-dark dark:border-primary absolute h-full -mt-1 left-1/2 -translate-x-1"></span>
		<div class="bg-gradient-to-t from-white dark:from-gray-900 absolute h-full w-full"></div>
	</div>
</section>
