---
import Block from "../components/Timeline/Block.astro";
import EmptyLine from "../components/Timeline/EmptyLine.astro";
---

<section class="flex justify-center items-center pt-24 mt-24 flex-col" id="career">
	<div class="mb-24 text-center">
		<h3 class="text-center font-bold text-4xl pb-2 dark:text-gray-100">Mon parcourt</h3>
		<span class="font-medium text-xl dark:text-gray-100">Voici les études que j’ai faites durant mes années scolaires.</span>
	</div>
	<div class="flex flex-col relative w-full pr-4 tablet:px-24 space-y-16">
		<span class="bg-primary-dark dark:bg-primary w-2 h-full mb-16 absolute tablet:left-1/2 -translate-x-1"></span>
		<EmptyLine />

		<div class="flex items-center h-[300px] justify-between tablet:justify-start">
			<span class="tablet:hidden border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full -translate-x-4" />
			<span class="tablet:hidden text-4xl font-bold text-primary-dark dark:text-primary"> 2019 </span>
			<div class="tablet:w-1/2 flex grow tablet:grow-0 justify-end tablet:justify-start ultrawide:justify-center">
				<Block
					title="Baccalauréat Scientifique"
					location="Lycée Calmette de Nice"
					description="Option ISN avec de la programmation en Java mais aussi l'apprentissage du HTML 5 et CSS 3."
					website="https://www.lyc-albert-calmette.ac-nice.fr/"
					map="https://goo.gl/maps/3WiJWewYvVLdTL866"
				/>
			</div>
			<span class="hidden tablet:flex border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full -translate-x-4 mr-8"></span>
			<span class="hidden tablet:flex text-4xl font-bold text-primary-dark dark:text-primary"> 2019 </span>
		</div>

		<EmptyLine />

		<div class="flex items-center justify-between tablet:justify-end h-[300px]">
			<span class="tablet:hidden border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full -translate-x-4" />
			<span class="text-4xl font-bold text-primary-dark dark:text-primary"> 2021 </span>
			<span class="hidden tablet:flex border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full translate-x-12 mr-8"></span>
			<div class="tablet:w-1/2 flex grow tablet:grow-0 justify-end ultrawide:justify-center">
				<Block
					title="DUT Informatique"
					location="IUT Nice Côte D’azur"
					description="Formation initiale menant sur l'apprentissage de l'ensemble des types de langage de programmation existants."
					website="https://iut.univ-cotedazur.fr/"
					map="https://goo.gl/maps/EwWEVBcQAvNXJzjYA"
				/>
			</div>
		</div>

		<div class="flex items-center h-[300px] justify-between tablet:justify-start">
			<span class="tablet:hidden border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full -translate-x-4" />
			<span class="tablet:hidden text-4xl font-bold text-primary-dark dark:text-primary"> 2022 </span>
			<div class="tablet:w-1/2 flex grow tablet:grow-0 justify-end tablet:justify-start ultrawide:justify-center">
				<Block
					title="Licence pro APIDAE"
					location="IUT Montpellier-Sète"
					description="Cours en alternance avec l'entreprise Orange Business Services dans le but de poursuivre les études en informatique dans le domaine du web, parcours : Assistant de Projet Informatique, Développement d’Application E-business."
					website="https://iut-montpellier-sete.edu.umontpellier.fr/"
					map="https://goo.gl/maps/Up5a7iSAJXj4He9NA"
				/>
			</div>
			<span class="hidden tablet:flex border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary border-[16px] rounded-full -translate-x-4 mr-8"></span>
			<span class="hidden tablet:flex text-4xl font-bold text-primary-dark dark:text-primary"> 2022 </span>
		</div>
	</div>
	<div class="relative h-32 w-full">
		<span class="border-r-8 border-dashed border-primary-dark dark:border-primary absolute h-full -mt-1 tablet:left-1/2 -translate-x-1"></span>
		<div class="bg-gradient-to-t from-white dark:from-gray-900 absolute h-full w-full"></div>
	</div>
</section>
