---
import Block from "../components/Timeline/Block.astro";
import EmptyLine from "../components/Timeline/EmptyLine.astro";
---

<section class="mt-24 flex flex-col items-center justify-center pt-24" id="career">
	<div class="mb-24 text-center">
		<h3 class="pb-2 text-center text-4xl font-bold dark:text-gray-100">Mon parcourt</h3>
		<span class="text-xl font-medium dark:text-gray-100">Voici les études que j’ai faites durant mes années scolaires.</span>
	</div>
	<div class="relative flex w-full flex-col space-y-16 pr-4 tablet:px-24">
		<span class="absolute mb-16 h-full w-2 -translate-x-1 bg-primary-dark dark:bg-primary tablet:left-1/2"></span>
		<EmptyLine />

		<div class="flex h-[300px] items-center justify-between tablet:justify-start">
			<span class="-translate-x-4 rounded-full border-[16px] border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary tablet:hidden"></span>
			<span class="text-4xl font-bold text-primary-dark dark:text-primary tablet:hidden"> 2019</span>
			<div class="flex grow justify-end tablet:w-1/2 tablet:grow-0 tablet:justify-start ultrawide:justify-center">
				<Block title="Baccalauréat Scientifique" location="Lycée Calmette de Nice" description="Option ISN avec de la programmation en Java mais aussi l'apprentissage du HTML 5 et CSS 3." website="https://www.lyc-albert-calmette.ac-nice.fr/" map="https://goo.gl/maps/3WiJWewYvVLdTL866" />
			</div>
			<span class="mr-8 hidden -translate-x-4 rounded-full border-[16px] border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary tablet:flex"></span>
			<span class="hidden text-4xl font-bold text-primary-dark dark:text-primary tablet:flex"> 2019</span>
		</div>

		<EmptyLine />

		<div class="flex h-[300px] items-center justify-between tablet:justify-end">
			<span class="-translate-x-4 rounded-full border-[16px] border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary tablet:hidden"></span>
			<span class="text-4xl font-bold text-primary-dark dark:text-primary"> 2021</span>
			<span class="mr-8 hidden translate-x-12 rounded-full border-[16px] border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary tablet:flex"></span>
			<div class="flex grow justify-end tablet:w-1/2 tablet:grow-0 ultrawide:justify-center">
				<Block title="DUT Informatique" location="IUT Nice Côte D’azur" description="Formation initiale menant sur l'apprentissage de l'ensemble des types de langage de programmation existants." website="https://iut.univ-cotedazur.fr/" map="https://goo.gl/maps/EwWEVBcQAvNXJzjYA" />
			</div>
		</div>

		<div class="flex h-[300px] items-center justify-between tablet:justify-start">
			<span class="-translate-x-4 rounded-full border-[16px] border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary tablet:hidden"></span>
			<span class="text-4xl font-bold text-primary-dark dark:text-primary tablet:hidden"> 2022</span>
			<div class="flex grow justify-end tablet:w-1/2 tablet:grow-0 tablet:justify-start ultrawide:justify-center">
				<Block title="Licence pro APIDAE" location="IUT Montpellier-Sète" description="Cours en alternance avec l'entreprise Orange Business Services dans le but de poursuivre les études en informatique dans le domaine du web, parcours : Assistant de Projet Informatique, Développement d’Application E-business." website="https://iut-montpellier-sete.edu.umontpellier.fr/" map="https://goo.gl/maps/Up5a7iSAJXj4He9NA" />
			</div>
			<span class="mr-8 hidden -translate-x-4 rounded-full border-[16px] border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary tablet:flex"></span>
			<span class="hidden text-4xl font-bold text-primary-dark dark:text-primary tablet:flex"> 2022</span>
		</div>
	</div>
	<div class="relative h-32 w-full">
		<span class="absolute -mt-1 h-full -translate-x-1 border-r-8 border-dashed border-primary-dark dark:border-primary tablet:left-1/2"></span>
		<div class="absolute h-full w-full bg-gradient-to-t from-white dark:from-gray-900"></div>
	</div>
</section>
