---
import { Icon } from "astro-icon";
import Footer from "./Footer.astro";
---

<section>
	<Icon class="fill-slate-900" name="wave" />
	<div class="bg-slate-900 min-h-screen relative">
		<div class="flex flex-col justify-center items-center pt-24" id="contact">
			<h3 class="font-bold text-4xl pb-8 text-white text-center">Me contacter</h3>
			<form class="tablet:w-3/4 laptop:w-1/2 max-w-lg desktop:max-w-3xl px-16 space-y-4 flex flex-col items-center"
				  action="https://usebasin.com/f/c50701398f2f"
				  method="POST"
				  enctype="multipart/form-data"
				  id="form">
				<div class="flex w-full flex-col tablet:flex-row justify-center items-center space-y-4 tablet:space-y-0 tablet:space-x-6">
					<div class="flex flex-1 flex-col min-w-0">
						<label class="text-white font-medium pb-1 capitalize laptop:text-lg ultrawide:text-xl" for="name">nom</label>
						<input id="name" class="rounded-full bg-white text-black px-2 laptop:py-1" type="text" />
					</div>
					<div class="flex flex-1 flex-col min-w-0">
						<label class="text-white font-medium pb-1 capitalize laptop:text-lg ultrawide:text-xl" for="mail">courriel</label>
						<input id="mail" class="rounded-full bg-white text-black px-2 laptop:py-1" type="email" />
					</div>
				</div>
				<div class="flex w-full flex-col min-w-max">
					<label class="text-white font-medium pb-1 capitalize laptop:text-lg ultrawide:text-xl" for="message">message</label>
					<textarea id="message" class="rounded-xl leading-5 bg-white text-black h-32 px-2 py-1"></textarea>
				</div>
				<div class="flex w-full justify-end">
					<button type="submit" class="w-full tablet:w-fit inline rounded-full border-2 ease-in-out transition duration-150 border-primary-light text-primary-light hover:bg-primary-light hover:text-slate-900 uppercase px-3 py-1"> envoyer </button>
				</div>
			</form>
			<div class="flex w-full tablet:w-3/4 laptop:w-1/2 justify-evenly items-center text-white pt-24 pb-48 tablet:pb-32">
				<a href="https://github.com/alexisdechiara" class="flex flex-col justify-center items-center space-y-2 hover:scale-110 ease-in-out transition duration-150">
					<Icon class="h-8 w-8 tablet:h-12 tablet:w-12 ultrawide:w-16 ultrawide:h-16" pack="simple-icons" name="github" />
					<span class="text-md tablet:text-xl ultrawide:text-2xl"> GitHub</span>
				</a>
				<a href="https://gitlab.com/AlexisDeChiara" class="flex flex-col justify-center items-center space-y-2 hover:scale-110 ease-in-out transition duration-150">
					<Icon class="h-8 w-8 tablet:h-12 tablet:w-12 ultrawide:w-16 ultrawide:h-16" pack="ph" name="gitlab-logo-fill" />
					<span class="text-md tablet:text-xl ultrawide:text-2xl"> GitLab</span>
				</a><a href="https://linkedin.com/in/alexisdechiara" class="flex flex-col justify-center items-center space-y-2 hover:scale-110 ease-in-out transition duration-150">
					<Icon class="h-8 w-8 tablet:h-12 tablet:w-12 ultrawide:w-16 ultrawide:h-16" pack="cib" name="linkedin" />
					<span class="text-md tablet:text-xl ultrawide:text-2xl"> LinkedIn</span>
				</a>
			</div>
		</div>
		<Footer />
	</div>
</section>
