---
const version = "0.6.1";
---

<div class="flex flex-col tablet:flex-row justify-between items-center absolute inset-x-8 bottom-4 text-white text-center space-y-2">
	<span>Site sous licence MIT</span>
	<span>Réalisé par Alexis De Chiara et inspiré de <a class="underline hover:text-primary" href="https://mattfarley.ca/"> mattfarley.ca</a></span>
	<span class="capitalize">version {version}</span>
</div>
