---
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
const version = "0.5.1";
---

<div class="flex flex-col tablet:flex-row justify-between items-center absolute inset-x-8 bottom-4 text-white text-center space-y-2">
    <span>{t("footer.license")}</span>
    <span><Trans i18nKey="footer.realisation">Réalisé par Alexis De Chiara et inspiré de <a class="underline hover:text-primary" href="https://mattfarley.ca/"> mattfarley.ca</a></Trans></span>
    <span class="capitalize">{t("footer.version")} {version}</span>
</div>