---
import { Icon } from 'astro-icon';
import { t } from "i18next";

let palette = ['sky','indigo','purple','orange','red','pink','green'];
---

<nav class='fixed inset-x-0 top-0 bg-white dark:bg-gray-900 py-4 px-16 z-40' id="navbar">
	<ul class='flex grow space-x-8 text-2xl font-medium justify-center text-center text-gray-500 w-full h-full items-center'>
		<li id="presentation-link" class='flex-none text-black dark:text-white font-bold hover:text-black dark:hover:text-gray-50 transition duration-300 ease-in-out capitalize'><a href='#presentation'> {t("navigation.presentation")}</a></li>
		<li id="skills-link" class='flex-none hover:text-black dark:hover:text-gray-100 transition duration-300 ease-in-out capitalize'><a href='#skills'> {t("navigation.skills")}</a></li>
		<li id="career-link" class='flex-none hover:text-black dark:hover:text-gray-100 transition duration-300 ease-in-out capitalize'><a href='#career'> {t("navigation.career")} </a></li>
		<li id="projects-link" class='flex-none hover:text-black dark:hover:text-gray-100 transition duration-300 ease-in-out capitalize'><a href='#projects'> {t("navigation.projects")} </a></li>
		<li id="contact-link" class='flex-none hover:text-black dark:hover:text-gray-100 transition duration-300 ease-in-out capitalize'><a href='#contact'> {t("navigation.contact")}</a></li>
	</ul>
	<Icon class='fixed dark:text-gray-100 active:rotate-180 cursor-pointer top-5 right-10 hover:rotate-180 transition duration-300 ease-in h-6 w-6' pack='ph' name='gear-six-fill' id="gearTrigger"/>
</nav>

<div class="w-screen h-screen fixed z-40 bg-slate-900/5 opacity-0 transition-all duration-100 ease-in invisible" id="modalOverlay"> </div>
<div class="flex flex-col w-64 rounded-xl bg-white shadow-md opacity-0 border border-gray-100 top-16 fixed right-10 p-4 z-50 space-y-4 transition-all duration-100 ease-in invisible" id="modalContainer">
	<div class="flex flex-col">
		<span class="pb-2 block text-lg font-bold capitalize"> {t("settings.language")} </span>
		<div class="grid grid-cols-2 gap-4 px-4">
			<label>
				<input class="sr-only peer" type="radio" name="languageSwitcher" id="frenchButton" value="/"/> 
				<span class="px-2 py-1 text-center peer-checked:bg-gray-200 peer-checked:rounded-full peer-checked:text-gray-900 peer-checked:cursor-default text-gray-500 cursor-pointer font-medium text-lg" for="frenchButton" id="frenchLabel"> Français </span>
			</label>
			<label>
				<input class="sr-only peer" type="radio" name="languageSwitcher" id="englishButton" value="/en"/> 
				<span class="px-2 py-1 text-center peer-checked:bg-gray-200 peer-checked:rounded-full peer-checked:text-gray-900 peer-checked:cursor-default text-gray-500 cursor-pointer font-medium text-lg" for="englishButton" id="englishLabel"> English </span>
			</label>
		</div>
	</div>
	<div class="flex flex-col">
		<span class="pb-2 block text-lg font-bold capitalize"> {t("settings.color")} </span>
		<div class="grid grid-cols-3 gap-6 font-medium px-4">
			{palette.map((color)=> (
				<label>
					<input type="radio" class="sr-only peer" value={color} name="colorSwitcher" id={`${color}-button`}/>
					<span for="colorSwitcher" class={`flex justify-center items-center transition bg-${color}-500 peer-checked:rounded-full peer-checked:hover:scale-100 peer-checked:cursor-default rounded-xl hover:scale-105 cursor-pointer h-12 w-12`} id={color} />
				</label>
				))}
				<label>
					<input type="radio" class="sr-only peer" value="random" name="colorSwitcher" id="random-button"/>
					<Icon pack="ph" name="shuffle-angular" for="colorSwitcher" class="flex p-2 bg-gray-200 justify-center items-center transition peer-checked:rounded-full peer-checked:hover:scale-100 rounded-xl hover:scale-105 cursor-pointer h-12 w-12" id="random" />
				</label>
		</div>
	</div>
	<div class="flex flex-col">
		<span class="pb-2 block text-lg font-bold capitalize"> {t("settings.theme")} </span>
		<div class="grid grid-cols-3 gap-4 font-medium px-4">
			<label>
				<input type="radio" class="sr-only peer" value="light" name="darkModeSwitcher" id="lightModeInput">
				<Icon class="w-12 h-12 p-2 peer-checked:bg-gray-200 peer-checked:rounded-full peer-checked:cursor-default cursor-pointer" pack="ph" name="sun" id="lightMode" for="darkModeSwitcher"/>
			</label>
			<label>
				<input type="radio" class="sr-only peer" value="auto" name="darkModeSwitcher" id="autoModeInput">
				<Icon class="w-12 h-12 p-2 peer-checked:bg-gray-200 peer-checked:rounded-full peer-checked:cursor-default cursor-pointer" pack="ph" name="arrows-counter-clockwise" for="darkModeSwitcher"/>
			</label>
			<label>
				<input type="radio" class="sr-only peer" value="dark" name="darkModeSwitcher" id="darkModeInput">
				<Icon class="w-12 h-12 p-2 peer-checked:bg-gray-200 peer-checked:rounded-full peer-checked:cursor-default cursor-pointer" pack="ph" name="moon" for="darkModeSwitcher"/>
			</label>
		</div>
	</div>
</div>