---
import { Icon } from 'astro-icon';
---

<nav class='fixed inset-x-0 top-0 bg-white py-4 px-16 z-50'>
	<ul class='flex grow text-2xl font-medium justify-center text-center text-gray-500 w-full'>
		<li class='flex-shrink mx-4 font-bold text-black'><a href='#presentation'>Présentation</a></li>
		<li class='flex-none hover:text-black hover:font-bold hover:scale-110 transition duration-300 ease-in-out mx-4'><a href='#skills'>Compétences</a></li>
		<li class='flex-none hover:text-black hover:font-bold hover:scale-110 transition duration-300 ease-in-out mx-4'><a href='#career'>Carrière</a></li>
		<li class='flex-none hover:text-black hover:font-bold hover:scale-110 transition duration-300 ease-in-out mx-4'><a href='#projects'>Projets</a></li>
		<li class='flex-none hover:text-black hover:font-bold hover:scale-110 transition duration-300 ease-in-out mx-4'><a href='#contact'>Contact</a></li>
	</ul>
	<Icon class='fixed cursor-pointer top-5 right-10 hover:rotate-180 transition duration-300 ease-in h-6 w-6' pack='ph' name='	gear-six-fill' />
</nav>
