---
import Project from "../components/Project.astro";
import { t } from "i18next";

const projects = [
	{
	url: 'src/assets/images/projects/portfolio.webp',
	alt: `${t("projects.portfolio.alt")}`,
	title: `${t("projects.portfolio.title")}`,
	description: `${t("projects.portfolio.description")}`,
	git: 'https://github.com/alexisdechiara/portfolio',
	website: '#',
	},
	{
	url: 'src/assets/images/projects/roll20Alternative.webp',
	alt: `${t("projects.roll20Alternative.alt")}`,
	title: `${t("projects.roll20Alternative.title")}`,
	description: `${t("projects.roll20Alternative.description")}`,
	git: 'https://github.com/alexisdechiara/Roll20Alternative',
	website : '#'
	},
	{
	url: 'src/assets/images/projects/concertProject.webp',
	alt: `${t("projects.concertProject.alt")}`,
	title: `${t("projects.concertProject.title")}`,
	description: `${t("projects.concertProject.description")}`,
	git: 'https://github.com/alexisdechiara/ConcertProject',
	website : '#'
	},
	{
	url: 'src/assets/images/projects/cookandchief.webp',
	alt: `${t("projects.cookandchief.alt")}`,
	title: `${t("projects.cookandchief.title")}`,
	description: `${t("projects.cookandchief.description")}`,
	git: 'https://github.com/alexisdechiara/cookandchief',
	website : 'https://cookandchief.netlify.app'
	},
	{
	url: "https://source.unsplash.com/random/1080x720/?metrics",
	alt: `${t("projects.utility-tools.alt")}`,
	title: `${t("projects.utility-tools.title")}`,
	description: `${t("projects.utility-tools.description")}`,
	git: 'https://github.com/alexisdechiara/utility-tools',
	website : 'https://alexisdechiara.github.io/utility-tools/'
	}
]
---

<section class="pt-24 mt-24 mb-32" id="projects">
	<div class="mb-16 text-center">
		<h3 class="font-bold text-4xl pb-2 dark:text-gray-100">{t("projects.title")}</h3>
		<span class="font-medium text-xl dark:text-gray-100">{t("projects.subtitle")}</span>
	</div>
	<div class="w-full grid grid-cols-3 gap-8 px-32">
		{projects.map((content) => (
			<Project content={content}/>
		))}
	</div>
</section>
