---
import Project from "../components/Project.astro";
const response = await fetch (`https://api.airtable.com/v0/${import.meta.env.AIRTABLE_BASE_ID}/${import.meta.env.AIRTABLE_TABLE_ID}?view=${import.meta.env.AIRTABLE_VIEW_ID}&returnFieldsByFieldId=true`, {
	headers: {Authorization : `Bearer ${import.meta.env.AIRTABLE_TOKEN}`}
	});
const data = await response.json();
const projects = data.records;
---

<section class="pt-24 mt-24 mb-32" id="projects">
	<div class="mb-16 text-center">
		<h3 class="font-bold text-4xl pb-2 dark:text-gray-100">Mes projets</h3>
		<span class="font-medium text-xl dark:text-gray-100">Voici les projets personnels que j’ai réalisés.</span>
	</div>
	<div class="w-full grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 ultrawide:grid-cols-5 gap-8 px-16 laptop:px-24 desktop:px-32 ultrawide:px-48">
		{projects.map(item => <Project content={{
			title: item.fields.fldeYZgpm3DuAxFVZ,
			description: item.fields.fldf1Cd0Ao6VOJBV6,
			url: item.fields.fldEBHDhTr8I8OJCY[0].thumbnails.large.url,
			website: item.fields.fldQQb143A7pERV3U,
			git: item.fields.fldWo3aro8DG7f2Qy,
			tools: item.fields.fld0omaz4z2nzQmLR
		}}/>)}
	</div>
</section>
