---
import Column from './Column.astro';
import { Icon } from 'astro-icon';
---

<section class='flex items-center justify-center w-screen h-screen pt-64 tablet:pt-24 pb-96 px-8 tablet:px-16 laptop:px-32 desktop:px-48 bg-primary-dark dark:bg-primary' id="skills">
	<div class='flex flex-col text-white dark:text-gray-100'>
		<h3 class='text-4xl pb-4 font-bold text-center'>Bienvenue sur mon site portfolio</h3>
		<span class='text-xl font-medium text-justify tablet:text-center'>Si tu es ici, c’est pour voir mes compétences et en savoir plus sur ce que j’ai fait alors sache que tu es au bon endroit : je suis un développeur web front-end qui aime aussi réaliser des maquettes en UI/UX. Très autodidacte, je suis depuis toujours passionné par l’informatique et les nouvelles technologies.</span>
	</div>
</section>

<section class='flex justify-center items-center'>
	<div class='flex flex-col tablet:flex-row bg-white dark:bg-gray-800 dark:text-gray-100 shadow-md border dark:border-gray-800 h-fill w-10/12 tablet:w-2/3 laptop:w-3/5 rounded-xl -mt-32 sm:-mt-48 tablet:-mt-72'>
		<div class='flex-1 flex-col tablet:border-r dark:border-gray-700 justify-center items-center py-8 px-12'>
			<div class='flex flex-col justify-center items-center mb-8'>
				<Icon class='mb-8 p-4 w-24 text-primary dark:text-primary-light bg-gray-100 dark:bg-gray-700 rounded-full' pack="ph" name="code" />
				<h4 class='text-2xl text-center font-bold pb-2'> Développeur Front-end </h4>
				<span class='text-md text-center'> Je peux programmer un site web en entier, mais j’ai tout de même une préférence pour le front-end </span>
			</div>
			<Column title="Langages" content={['HTML, CSS, JavaScript, TypeScript, PHP, Java, C, C#, Access, MySQL, PostgreSQL, Oracle Database, Firebase']} />
			<Column title="Frameworks" content={['Angular', 'react', 'Vue', 'Astro', 'Synfony', 'Laravel', 'Spring', 'Bootstrap', 'Tailwind']} />
		</div>
		<div class='flex-1 flex-col justify-center items-center py-8 px-12'>
			<div class='flex flex-col justify-center items-center mb-8'>
				<Icon class='mb-8 p-4 w-24 text-primary dark:text-primary-light bg-gray-100 dark:bg-gray-700 rounded-full' pack="ph" name="palette" />
				<h4 class='text-2xl text-center font-bold pb-2'>UI/UX Designer</h4>
				<span class='text-md text-center'>J’ai toujours aimé que les choses soient belles, c’est donc tout logiquement que je m’intéresse aussi à l’UI/UX design.</span>
			</div>
			<Column title="Outils de conception" content={['Figma', 'Photoshop', 'Premiere Pro', 'DaVinci Resolve']} />
		</div>
	</div>
</section>
