---
---

<div class="flex items-center justify-start -translate-x-6 tablet:-translate-x-0 tablet:justify-center">
	<span class="border-2 border-primary-dark bg-primary-dark dark:border-primary dark:bg-primary w-9 object-center"></span>
</div>
