@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-light: theme(colors.gray.400);
    --color-primary: theme(colors.gray.500);
    --color-primary-dark: theme(colors.gray.600);
  }
}
