---
import i18next, {t} from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Script from "../components/Script.astro";
---

<!DOCTYPE html>
<html lang={i18next.language} class="scroll-smooth scrollbar-thin scrollbar-thumb-gray-400 scrollbar-thumb hover:scrollbar-thumb-gray-500 scrollbar-track-transparent scrollbar-thumb-rounded-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="portfolio, Astro, tailwind">
    <meta name="author" content="Alexis De Chiara">
    <meta name="description" content={t("meta.description")}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
    <meta name="generator" content={Astro.generator} />
    <HeadHrefLangs />
    <title>Portfolio - Alexis De Chiara</title>
  </head>
  <body class="bg-white dark:bg-gray-900">
    <Script />
    <slot />
  </body>
</html>
